// Media Queries
$maxMobile: '(max-width: 767px)';
$maxSmall: '(max-width: 991px)';
$minSmall: '(min-width: 768px)';
$minMedium: '(min-width: 992px)';
$minLarge: '(min-width: 1200px)';

// Website colors
$blackColor: #444;
$blueWhiteColor: #0e5ba4;
$greyColor: #666;
// floats
$floatLeft: left;
$floatRight: right;